<section class="block container">
    <header class = "block__header">
      <h2>Host on the Cloud to Keep Growing</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, magnam.</p>
    </header>
    <article class="grid grid--1x2 feature">
      <div class = "feature__content">
        <span class = "icon-container">
          <svg class = "icon icon--primary">
            <use xlink:href="image/sprite.svg#easy"></use>
          </svg>
        </span>
        <h3 class = "feature_heading">Super Easy to Use</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit quas
          sed consectetur sint accusamus eum ut nobis voluptates magni
          dolores.
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <picture class ="imah">
        <source type="image/webp" srcset="image/easy.webp 1x, image/easy@2x.webp 2x">
        <source type="image/png" srcset="image/easy.png 1x, image/easy@2x.png 2x">
        <img class = "feature__image" src="/image/easy@2x.png" alt="">
      </picture>
    </article>
    <article class="grid grid--1x2 feature">
      <div class = "feature__content">
        <span class = "icon-container">
          <svg class = "icon icon--primary">
            <use xlink:href="image/sprite.svg#computer"></use>
          </svg>
        </span>
        <h3 class = "feature_heading">Super Easy to Use</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit quas
          sed consectetur sint accusamus eum ut nobis voluptates magni
          dolores.
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <picture class ="imah">
        <source type="image/webp" srcset="image/fast.webp 1x, image/fast@2x.webp 2x">
        <source type="image/png" srcset="image/fast.png 1x, image/fast@2x.png 2x">
        <img class = "feature__image" src="/image/fast@2x.png" alt="">
      </picture>
    </article>
    <article class="grid grid--1x2 feature">
      <div class = "feature__content">
        <span class = "icon-container">
          <svg class = "icon icon--primary">
            <use xlink:href="image/sprite.svg#settings"></use>
          </svg>
        </span>
        <h3 class = "feature_heading">Super Easy to Use</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit quas
          sed consectetur sint accusamus eum ut nobis voluptates magni
          dolores.
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <picture class ="imah">
        <source type="image/webp" srcset="image/wordpress.webp 1x, image/wordpress@2x.webp 2x">
        <source type="image/png" srcset="image/wordpress.png 1x, image/wordpress@2x.png 2x">
        <img class = "feature__image" src="/image/wordpress@2x.png" alt="">
      </picture>
    </article>
    <article class="grid grid--1x2 feature">
      <div class = "feature__content">
        <span class = "icon-container">
          <svg class = "icon icon--primary">
            <use xlink:href="image/sprite.svg#clock"></use>
          </svg>
        </span>
        <h3 class = "feature_heading">Super Easy to Use</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit quas
          sed consectetur sint accusamus eum ut nobis voluptates magni
          dolores.
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <picture class ="imah">
        <source type="image/webp" srcset="image/support.webp 1x, image/support@2x.webp 2x">
        <source type="image/png" srcset="image/support.png 1x, image/support@2x.png 2x">
        <img class = "feature__image" src="/image/support@2x.png" alt="">
      </picture>
    </article>
  </section>