<div class="collapsible collapsible--expanded">
    <header class = "collapsible__header">
      <h2 class = "collapsible__heading">Icon</h2>
      <svg class="icon icon--white collapsible__chevron">
        <use xlink:href="image/sprite.svg#chevron"></use>
      </svg>
    </header>
    <div class="collapsible__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
      odit, molestiae voluptatum rerum expedita veniam iste impedit nulla
      aliquid velit.
    </div>
  </div>